.example-card {
  width: 600px;
}

.centering-login-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-header-image {
  background-image: url('https://angular.io/assets/images/logos/angular/angular.png');
  background-color: rgba(0,0,0,.87);
  background-size: cover;
}

.mat-card-image {
  width: 30%;
}

.orientation-image-logo {
  text-align: center;

}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  left: 25%;
}

.button-sing-in {
  text-align: center;
}

.sign-up-option {
  font-size: 12px;
  text-align: right;
}
